venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.git
.gitignore
*.md
.DS_Store
*.log
books/*.epub
books/covers/*
books/metadata/*
web
node_modules
.next
screenshots
test_scripts
download_log.txt
task.md
README.md
